
name: Generate README.MD
on:
  push:
    branches:
      - main

jobs:
  docs:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
      with:
        ref: main

    - name: Render terraform docs inside the README.MD and push changes back to PR branch
      uses: terraform-docs/gh-actions@v1.0.0
      with:
        working-dir: .
        config-file: .content/.terraform-docs.yml
        output-file: README.md
        output-method: inject
        git-push: "true"
        git-commit-message: "terraform-docs: autogenerate README.MD"